*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral)
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue-neutral), 100%, 20%);
}

body.correct {
  background-color: hsl(var(--hue-correct), 100%, 20%);
}

body.wrong {
  background-color: hsl(var(--hue-wrong), 100%, 20%);
}
